@charset "utf-8";
/* CSS Document */

body {
	font-family: univers-condensed;
	background-color: rgb(208, 209, 211) !important;
}

.nav {
    background-color: rgb(104, 92, 255);
    border: 3px solid rgb(67, 66, 68);
    vertical-align: middle !important;
    height: 70px;
}
.nav label {
    color: white;
    font-size: 20px;
    margin-top: 15px;
}

.navButton {
    font-family: univers-condensed !important;
    background-color: rgb(42, 39, 96) !important;
    border: 2px solid #FFFFFF !important;
    border-radius: 10px !important;
    font-size: 12px !important;
    margin-top: 7px !important;
    width: 95px !important;
    color: white !important;
    cursor: pointer !important;
    height: 50px !important;
}

.dtitulos {
    background-color: rgb(104, 92, 255);
    border: 3px solid rgb(67, 66, 68);
    border-top: 0px;
    height: 50px;
}